In [1]:
colors=['red','green','blue','yellow']
result=''
for s in colors:
    result+=s
result

'redgreenblueyellow'

In [2]:
#문자열의 결합 join()함수
colors=['red','green','blue','yellow']
result='. '.join(colors)
result

'red. green. blue. yellow'

In [3]:
#문자열의 분리 split()함수
items=result.split('.')
items

['red', ' green', ' blue', ' yellow']

In [4]:
a,b,c,d=result.split('.')
print(a,b,c,d)

red  green  blue  yellow

In [5]:
result=[]
for i in range(10):
    result.append(i)
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
result=[i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
result=[]
for i in range(10):
    if i%2==0:
        result.append(i)
result

[0, 2, 4, 6, 8]

In [8]:
result=[i for i in range(10) if i%2==0]
result

[0, 2, 4, 6, 8]

In [9]:
result=[i if i%2==0 else i*10 for i in range(10)]
result

[0, 10, 2, 30, 4, 50, 6, 70, 8, 90]

In [10]:
result=[]
word1='Hello'
word2='World'
for s in word1:
    for s2 in word2:
        result.append(s+s2)
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [12]:
result=[i+j for i in word1 for j in word2]
#result

In [14]:
result=[]
case1=['A','B','C']
case2=['D','E','A']
for i in case1:
    for j in case2:
        if not(i==j):
            result.append(i+j)
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [15]:
result=[i+j for i in case1 for j in case2 if not(i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [16]:
words='The quick brown fox jumps over the lazy dog'.split()
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [17]:
stuff=[[w.upper(), w.lower(), len(w)] for w in words]
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [18]:
for i,v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [19]:
#zip 함수 : 리스트값을 병렬로 묶어 출력
alist=[1,2,3,4]
blist=[10,20,30,40]
ablist=zip(alist, blist)
for a,b in ablist:
    print(a,b)

1 10
2 20
3 30
4 40

In [20]:
kor_scor=[50,40,30,20,60]
math_scor=[50,40,30,20,60]
eng_scor=[50,40,30,20,60]
score=zip(kor_scor, math_scor, eng_scor)
for i in score:
    print(i)

(50, 50, 50)
(40, 40, 40)
(30, 30, 30)
(20, 20, 20)
(60, 60, 60)

In [22]:
kor_scor=[50,40,30,20,60]
math_scor=[50,40,30,20,60]
eng_scor=[50,40,30,20,60]
avg=[]
score=zip(kor_scor, math_scor, eng_scor)
for i in score:
    print(i)
    avg.append(sum(i)/len(i))
avg

(50, 50, 50)
(40, 40, 40)
(30, 30, 30)
(20, 20, 20)
(60, 60, 60)

[50.0, 40.0, 30.0, 20.0, 60.0]

In [24]:
#일반함수
def f(x,y):
    return x+y
print(f(1,4))

# lambda함수
f=lambda x,y:x+y
print(f(1,4))

5
5

In [25]:
print((lambda x,y:x+y)(1,4))

5

In [29]:
f=lambda x,y:x+y
f(1,4)
f=lambda x:x**2
f(3)
f=lambda x:x/2
f(3)
#f(3,5)

1.5

In [34]:
def asterisk_test(a, **kargs):
    print(a)
    print("b={b}".format(**kargs))
    print("c={b}".format(**kargs))
    print("d={b}".format(**kargs))

In [35]:
asterisk_test(a, b=2, c=3, d=4)

4
b=2
c=2
d=2