In [8]:
#pd.DataFrame(data[,columns.index])
import pandas as pd

In [6]:
name=['민준','현우','서연','동현','지현']
year=[2013,2014,2015,2016,2015]
points=[1.5,1.7,3.6,2.4,2.9]

In [12]:
data={"name":name, "year":year, "points":points}
df=pd.DataFrame(data, columns=['name','year','points','penalty'],
               index=['a','b','c','d','e'])
df.index.name=''
df.columns.name=''
df.index=[0,1,2,3,4]
df.columns=['n','y','po','pen']
df

    n     y   po  pen
0  민준  2013  1.5  NaN
1  현우  2014  1.7  NaN
2  서연  2015  3.6  NaN
3  동현  2016  2.4  NaN
4  지현  2015  2.9  NaN

In [10]:
df=pd.DataFrame({'name':name, 'year':year, 'points':points})
df

  name  year  points
0   민준  2013     1.5
1   현우  2014     1.7
2   서연  2015     3.6
3   동현  2016     2.4
4   지현  2015     2.9

In [16]:
print(df['year'])
print(df.name)
print(df[['name','points']])
print(df['name':'year'])

KeyError: 'year'

In [21]:
#df['penalty']=0.5
#df['penalty']=[0.1, 0.2, 0.1, 0.3, 0.3]
df.penalty=[0.1,0.2,0.3,0.4,0.5]
##df.aa=[1,2,3,4,5]
df['aa']=[1,2,3,4,5]
df['net_points']=df.points-df.penalty
df['high_points']=df.net_points>=2.0

AttributeError: 'DataFrame' object has no attribute 'points'

In [ ]:
#del df['high_points']

In [28]:
#df.index=['one','two','three','four','five']
df.loc[['one','four'],['name','points']]

KeyError: "None of [Index(['name', 'points'], dtype='object')] are in the [columns]"

In [29]:
df

        n     y   po  pen  penalty  aa
one    민준  2013  1.5  NaN      0.1   1
two    현우  2014  1.7  NaN      0.2   2
three  서연  2015  3.6  NaN      0.3   3
four   동현  2016  2.4  NaN      0.4   4
five   지현  2015  2.9  NaN      0.5   5

In [30]:
df.loc['six']=['길동',2017,2.3,0.4]
df

ValueError: cannot set a row with mismatched columns

In [13]:
df.describe()

                 y        po
count     5.000000  5.000000
mean   2014.600000  2.420000
std       1.140175  0.864292
min    2013.000000  1.500000
25%    2014.000000  1.700000
50%    2015.000000  2.400000
75%    2015.000000  2.900000
max    2016.000000  3.600000