In [5]:
import numpy as np
import pandas as pd

In [3]:
input_file="C:/chj/data/input.csv"
output_file="C:/chj/data/output.csv"

#with open이 끝나는 지점에서 파일이 자동으로 닫힌다
with open(input_file,'r',newline='')as reader:
    with open(output_file,'w',newline='')as writer:
        header=reader.readline()
        header=header.strip()
        header_list=header.split(',')
        print(header_list)
        
        writer.write(','.join(map(str,header_list))+'\n')
        
        for row in reader:
            row=row.strip()
            row_list=row.split(',')
            print(row_list)
            writer.write(','.join(map(str,row_list))+"\n")

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['A', '001-1001', '2341', '"$500', '000"', '2014-01-20']
['A', '001-1001', '5467', '500000', '2014-01-20']
['A', '001-1001', '5407', '750000', '2014-01-20']
['A', '001-1001', '2341', '750000', '2014-01-20']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9505', '6650', '125000', '2017-02-03']
['B', '50-9505', '6650', '125000', '2017-02-03']
['C', '920-4803', '3321', '615000', '2017-02-03']
['C', '920-4804', '3321', '615000', '2017-02-10']
['C', '920-4805', '3321', '615000', '2017-02-17']
['C', '920-4806', '3321', '615000', '2017-02-24']

In [7]:
#판다스 사용 파일 처리
input_file="C:/chj/data/input.csv"
output_file="C:/chj/data/output2.csv"

df=pd.read_csv(input_file)
print(df)
df.to_csv(output_file, index=False)

   Supplier Name Invoice Number  Part Number      Cost Purchase Date
0              A       001-1001         2341  $500,000    2014-01-20
1              A       001-1001         5467    500000    2014-01-20
2              A       001-1001         5407    750000    2014-01-20
3              A       001-1001         2341    750000    2014-01-20
4              B        50-9501         7009    250000    2018-01-30
5              B        50-9501         7009    250000    2018-01-30
6              B        50-9505         6650    125000    2017-02-03
7              B        50-9505         6650    125000    2017-02-03
8              C       920-4803         3321    615000    2017-02-03
9              C       920-4804         3321    615000    2017-02-10
10             C       920-4805         3321    615000    2017-02-17
11             C       920-4806         3321    615000    2017-02-24

In [10]:
#csv 모듈 사용
import csv
input_file="C:/chj/data/input.csv"
output_file="C:/chj/data/output3.csv"

with open(input_file,'r',newline='') as csv_in_file:
    with open(output_file,'w',newline='')as csv_out_file:
        filereader=csv.reader(csv_in_file, delimiter=',')
        filewriter=csv.writer(csv_out_file, delimiter=',')
        
        for row_list in filereader:
            print(row_list)
            filewriter.writerow(row_list)

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['A', '001-1001', '2341', '$500,000', '2014-01-20']
['A', '001-1001', '5467', '500000', '2014-01-20']
['A', '001-1001', '5407', '750000', '2014-01-20']
['A', '001-1001', '2341', '750000', '2014-01-20']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9505', '6650', '125000', '2017-02-03']
['B', '50-9505', '6650', '125000', '2017-02-03']
['C', '920-4803', '3321', '615000', '2017-02-03']
['C', '920-4804', '3321', '615000', '2017-02-10']
['C', '920-4805', '3321', '615000', '2017-02-17']
['C', '920-4806', '3321', '615000', '2017-02-24']

In [13]:
#판다스 사용 파일 처리
input_file="C:/chj/data/input.csv"
output_file="C:/chj/data/output4.csv"

df=pd.read_csv(input_file)
df['Cost']=df['Cost'].str.strip('$').str.replace(',','').astype(float)
result=df.loc[(df['Supplier Name']=='A') & (df.Cost>=500000),:]
print(result)
result.to_csv(output_file, index=False)

  Supplier Name Invoice Number  Part Number      Cost Purchase Date
0             A       001-1001         2341  500000.0    2014-01-20
1             A       001-1001         5467  500000.0    2014-01-20
2             A       001-1001         5407  750000.0    2014-01-20
3             A       001-1001         2341  750000.0    2014-01-20

In [19]:
#Part Number 5000이상이고 Cost가 500000 이상인 Supplier Name, Part Number, Cost를 출력
input_file="C:/chj/data/input.csv"
output_file="C:/chj/data/output5.csv"
#csv파일을 읽어서 데이터 프레임으로 저장
df=pd.read_csv(input_file)

df['Cost']=df['Cost'].str.strip('$').str.replace(',','').astype(float)
result=df.loc[(df['Part Number']>=5000) & (df.Cost>=500000),
              ['Supplier Name', 'Part Number','Cost']]
print(result)
result.to_csv(output_file, index=False)

  Supplier Name  Part Number      Cost
1             A         5467  500000.0
2             A         5407  750000.0