In [1]:
import pymysql

In [6]:
#DB 연결
def select_all():
    conn=pymysql.connect( #pymysql 라이브러리 사용 DB 연결
    host='localhost',
    user='chj',
    password='1234',
    db='chj_db',
    charset='utf8'
    )
    cursor=conn.cursor()
    sql='select * from pages'
    cursor.execute(sql)
    for row in cursor:
        print(row[0],row[1],row[2],row[3])
    conn.close()

In [7]:
select_all()

1 제목1 내용1 2021-02-26 15:14:02
2 제목2 내용2 2021-02-26 15:14:02

In [8]:
def insert_data(data):
    conn=pymysql.connect( #pymysql 라이브러리 사용 DB 연결
    host='localhost',
    user='chj',
    password='1234',
    db='chj_db',
    charset='utf8'
    )
    cursor=conn.cursor()
    sql='insert into pages(title, content) values(%s, %s)'
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [9]:
data=('python board1', 'python content1')
insert_data(data)

In [10]:
select_all()

1 제목1 내용1 2021-02-26 15:14:02
2 제목2 내용2 2021-02-26 15:14:02
3 python board1 python content1 2021-02-26 15:24:45

In [11]:
def select_all_books():
    conn=pymysql.connect( #pymysql 라이브러리 사용 DB 연결
    host='localhost',
    user='chj',
    password='1234',
    db='chj_db',
    charset='utf8'
    )
    cursor=conn.cursor()
    sql='select * from books'
    cursor.execute(sql)
    for row in cursor:
        print(row[0],row[1],row[2],row[3], row[4])
    conn.close()

In [12]:
select_all_books()

1 python blake 위키북스 20000
2 java lynne 한빛 20000

In [23]:
def insert_data_books(data):
    conn=pymysql.connect( #pymysql 라이브러리 사용 DB 연결
    host='localhost',
    user='chj',
    password='1234',
    db='chj_db',
    charset='utf8'
    )
    cursor=conn.cursor()
    sql="insert into books(title, author, publisher, price) values(%s, %s, %s, %s)"
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()

In [24]:
datas=[
    ('빅데이터 분석', '주진우','길벗', 28000),
    ('NoSQL', '주종명','인피니티북스', 30000),
    ('안드로이드', '최혜지','위키북스', 20000),
]

insert_data_books(datas)

In [38]:
def update_books(data):
    conn=pymysql.connect( #pymysql 라이브러리 사용 DB 연결
    host='localhost',
    user='chj',
    password='1234',
    db='chj_db',
    charset='utf8'
    )
    cursor=conn.cursor()
    sql="update books set title=%s, author=%s where id=%s"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [39]:
data=('python programming', '이진우', 1)
update_books(data)
select_all_books()

1 python programming 이진우 위키북스 20000
2 java lynne 한빛 20000
3 빅데이터 분석 주진우 길벗 28000
4 NoSQL 주종명 인피니티북스 30000
5 안드로이드 최혜지 위키북스 20000

In [44]:
def delete_books(data):
    conn=pymysql.connect( #pymysql 라이브러리 사용 DB 연결
    host='localhost',
    user='chj',
    password='1234',
    db='chj_db',
    charset='utf8'
    )
    cursor=conn.cursor()
    sql="delete from books where id=%s"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [45]:
delete_books(2)
select_all_books()

1 python programming 이진우 위키북스 20000
3 빅데이터 분석 주진우 길벗 28000
4 NoSQL 주종명 인피니티북스 30000
5 안드로이드 최혜지 위키북스 20000