In [4]:
import numpy as np

In [5]:
data=[1,2,3,4,5]
arr1=np.array(data)
print(data)
print(arr1)
print(type(arr1))
print(arr1.shape)

[1, 2, 3, 4, 5]
[1 2 3 4 5]
<class 'numpy.ndarray'>
(5,)

In [6]:
data2=[[1,2,3],[4,5,6]]
arr2=np.array(data2)
print(data2)
print(arr2)
print(type(arr2))
print(arr2.shpe)

[[1, 2, 3], [4, 5, 6]]
[[1 2 3]
 [4 5 6]]
<class 'numpy.ndarray'>

AttributeError: 'numpy.ndarray' object has no attribute 'shpe'

In [7]:
y1=np.ones(10) #1차원 배열에 1채우기
y2=np.ones([3,4]) #2차원 배열에 1채우기
y3=np.ones(12).reshape(3,4) # y2와 동일
print(y1)
print(y2)
print(y3)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [11]:
y4=np.zeros(10)
y5=np.zeros((3,4))
y6=np.zeros(12).reshape(3,4)
print(y4)
print(y5)
print(y6)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [13]:
print(arr2)
print(arr2[0,2])

[[1 2 3]
 [4 5 6]]
3

In [14]:
#슬라이싱
list1=[[1,11],[2,22],[3,33]]
print(list1)
print(list1[1][1])
print(list1[:][1])

[[1, 11], [2, 22], [3, 33]]
22
[2, 22]

In [17]:
arr1=np.array(list1)
print(arr1)
#arr1[:,1]
arr1[:,1:]

[[ 1 11]
 [ 2 22]
 [ 3 33]]

array([[11],
       [22],
       [33]])

In [18]:
x=np.array([1,2,3,4,5])
y=np.array([5,4,3,2,1])
print(x)
print(y)

[1 2 3 4 5]
[5 4 3 2 1]

In [21]:
#사칙연산
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x+10)

[6 6 6 6 6]
[-4 -2  0  2  4]
[5 8 9 8 5]
[0.2 0.5 1.  2.  5. ]
[0 0 1 2 5]
[1 2 0 0 0]
[11 12 13 14 15]

In [22]:
print(x)
print(y)
print(np.minimum(x,y))
print(np.maximum(x,y))

[1 2 3 4 5]
[5 4 3 2 1]
[1 2 3 2 1]
[5 4 3 4 5]

In [27]:
a=np.arange(1,13).reshape(3,4)
print(a)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [28]:
print(a)
print(np.sum(a, axis=0))
print(np.sum(a, axis=1))
print(np.mean(a, axis=1))

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[15 18 21 24]
[10 26 42]
[ 2.5  6.5 10.5]

In [31]:
b=[[5,4,3],[2,5,1],[7,6,9]]
arr_b=np.array(b)
print(arr_b)
print(np.sort(arr_b, axis=1))#행기준 정렬
print(np.sort(arr_b, axis=0))#열기준 정렬
print(np.sort(arr_b, axis=0)[::-1])#열기준 정렬
print(arr_b.transpose())

[[5 4 3]
 [2 5 1]
 [7 6 9]]
[[3 4 5]
 [1 2 5]
 [6 7 9]]
[[2 4 1]
 [5 5 3]
 [7 6 9]]
[[7 6 9]
 [5 5 3]
 [2 4 1]]
[[5 2 7]
 [4 5 6]
 [3 1 9]]

In [33]:
c=np.array([1,2,3,4,5,6]).reshape(2,3)
print(c)
print(c.transpose())

[[1 2 3]
 [4 5 6]]
[[1 4]
 [2 5]
 [3 6]]

In [34]:
a=np.array([1,2,3,2,3,4])
print(np.unique(a))

[1 2 3 4]

In [36]:
print(c)
print(c>3)
print(np.all(c>3))
print(np.any(c>3))

[[1 2 3]
 [4 5 6]]
[[False False False]
 [ True  True  True]]
False
True

In [39]:
print(np.linspace(0,15,3))
print(np.linspace(0,15,4, retstep=True))
print(np.linspace(0,15,4, endpoint=True))
print(np.logspace(1,2,5)) #log10 100

[ 0.   7.5 15. ]
(array([ 0.,  5., 10., 15.]), 5.0)
[ 0.  5. 10. 15.]
[ 10.          17.7827941   31.6227766   56.23413252 100.        ]

In [45]:
data=np.loadtxt("C:/chj/data/ml-1m/ratings.dat", delimiter='::',dtype=np.int64)

In [46]:
data[:5,:]

array([[        1,      1193,         5, 978300760],
       [        1,       661,         3, 978302109],
       [        1,       914,         3, 978301968],
       [        1,      3408,         4, 978300275],
       [        1,      2355,         5, 978824291]], dtype=int64)

In [47]:
data.shape

(1000209, 4)

In [48]:
mean_rating_total=data[:,2].mean()
print(mean_rating_total)

3.581564453029317

In [49]:
user_ids=np.unique(data[:,1])
print(len(user_ids))

3706

In [50]:
movie_ids=np.unique(data[:,1])
print(len(movie_ids))

3706

In [58]:
mean_values=[]
for user_id in user_ids:
    data_for_user=data[data[:,0]==user_id,:]#data에서 현재 id와 같은 모든 데이터
    value=data_for_user[:,2].mean()
    mean_values.append([user_id,value])
mean_values[:5]

[[1, 4.188679245283019],
 [2, 3.7131782945736433],
 [3, 3.9019607843137254],
 [4, 4.190476190476191],
 [5, 3.1464646464646466]]

In [56]:
mean_array=np.array(mean_values, dtype=np.float32)
print(mean_array[:5])
print(mean_array.shape)

[[1.        4.188679 ]
 [2.        3.7131784]
 [3.        3.9019608]
 [4.        4.1904764]
 [5.        3.1464646]]
(3706, 2)

In [60]:
np.savetxt("C:/chj/data/ml-1m/result.csv",mean_array, fmt="%.1f", delimiter=",")

In [66]:
mean_values=[]
for movie_id in movie_ids:
    data_for_user=data[data[:,1]==movie_id,:]#data에서 현재 id와 같은 모든 데이터
    value=data_for_user[:,2].mean()
    mean_values.append([movie_id,value])
mean_values[:5]

[[1, 4.146846413095811],
 [2, 3.20114122681883],
 [3, 3.01673640167364],
 [4, 2.7294117647058824],
 [5, 3.0067567567567566]]

In [67]:
mean_array=np.array(mean_values, dtype=np.float32)
print(mean_array[:5])
print(mean_array.shape)

[[1.        4.1468463]
 [2.        3.201141 ]
 [3.        3.0167365]
 [4.        2.7294118]
 [5.        3.0067568]]
(3706, 2)

In [68]:
np.savetxt("C:/chj/data/ml-1m/movie_result.csv",mean_array, fmt="%.1f", delimiter=",")