In [1]:
#pandas를 쓸때 보통 numpy랑 함께 쓴다
import numpy as np
import pandas as pd

In [3]:
x=pd.Series([4,3,2,1], index=['a','b','c','d'])
print(x)
print(type(x))
print(x.index)
print(x.values)
print(x.dtype)

0    4
1    3
2    2
3    1
dtype: int64
<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=4, step=1)
[4 3 2 1]
int64

In [4]:
x.index=['가','나','다','라']
print(x)

가    4
나    3
다    2
라    1
dtype: int64

In [6]:
print(x['가':'다'])
print(x[['가','다']])

가    4
나    3
다    2
dtype: int64
가    4
다    2
dtype: int64

In [7]:
x=pd.Series([7,3,4,5],index=['서울','대구','부산','울산'])
y=pd.Series([5,3,2,4], index=['서울','인천','광주','부산'])
print(x+y)

광주     NaN
대구     NaN
부산     8.0
서울    12.0
울산     NaN
인천     NaN
dtype: float64

In [8]:
model=[1,2,3,4,2,3]
c=pd.Series(model)
print(c)
print(pd.unique(c))

0    1
1    2
2    3
3    4
4    2
5    3
dtype: int64
[1 2 3 4]

In [11]:
a=c[3:6]
print(a)
a.index=[0,1,2]
print(a)

3    4
4    2
5    3
dtype: int64
0    4
1    2
2    3
dtype: int64