In [3]:
import sqlite3  #python설치하면 기본적으로 있음
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.33.0

In [15]:
def create_table():
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    sql="""create table if not exists books(
    title text,
    published_date text,
    publisher text,
    pages integer,
    recommend integer
    )"""
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [16]:
create_table()

In [40]:
def insert_books():
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    sql="insert into books values('java', '2021-01-01', '길벗', 500, 10)"
    cursor.execute(sql)
    sql='insert into books values(?,?,?,?,?)'
    #tuple형태로 넣어줌
    cursor.execute(sql,('Python','2020-01-02','한빛', 584, 20))
    #여러개의 tuple들을 넣어줌
    items=[
        ('빅데이터', '2021-03-02','한빛',584,10),
        ('안드로이드', '2021-03-02','한빛',584,30),
        ('스프링', '2021-04-02','한빛',500,15),
        ('데이터베이스', '2021-05-02','한빛',484,12)
    ]
    for item in items:
        cursor.execute(sql, item)
    # 위 코드랑 같은말  
    #cursor.executemany(sql, items)
    conn.commit()
    conn.close()

In [41]:
insert_books()

In [42]:
def all_books():
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    print('전체 데이터 출력하기')
    books=cursor.fetchall()
    print(type(books))
    print(len(books))
    for book in books:
        print(book)
    conn.close()

In [43]:
all_books()

전체 데이터 출력하기
<class 'list'>
6
('java', '2021-01-01', '길벗', 500, 10)
('Python', '2020-01-02', '한빛', 584, 20)
('빅데이터', '2021-03-02', '한빛', 584, 10)
('안드로이드', '2021-03-02', '한빛', 584, 30)
('스프링', '2021-04-02', '한빛', 500, 15)
('데이터베이스', '2021-05-02', '한빛', 484, 12)

In [1]:
#레코드 갯수 제한해서 불러오기
def some_books(number):
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    books=cursor.fetchmany(number)
    for book in books:
        print(book)
    conn.close()

In [4]:
some_books(4)

('java', '2021-01-01', '길벗', 500, 10)
('Python', '2020-01-02', '한빛', 584, 20)
('빅데이터', '2021-03-02', '한빛', 584, 10)
('안드로이드', '2021-03-02', '한빛', 584, 30)

In [10]:
def one_book():
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    book = cursor.fetchone()
    print(type(book))
    print(book)
    conn.close()

In [11]:
#맨위에 있는 레코드 한개 출력
one_book()

<class 'tuple'>
('java', '2021-01-01', '길벗', 500, 10)

In [14]:
#조건 지정 및 정렬하여 검색
def big_books():
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    cursor.execute("select title, pages from books where pages>500 order by pages desc")
    print('전체 데이터 출력하기')
    books=cursor.fetchall()
    print(type(books))
    print(len(books))
    for book in books:
        print(book)
    conn.close()

In [15]:
big_books()

전체 데이터 출력하기
<class 'list'>
3
('Python', 584)
('빅데이터', 584)
('안드로이드', 584)

In [26]:
#수정
def update_books():
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    sql='update books set recommend=?, pages=? where title=?'
    cursor.execute(sql,(200, 30, 'java'))
    conn.commit()
    conn.close()

In [27]:
update_books()

In [31]:
all_books()

전체 데이터 출력하기
<class 'list'>
6
('java', '2021-01-01', '길벗', 30, 200)
('Python', '2020-01-02', '한빛', 584, 20)
('빅데이터', '2021-03-02', '한빛', 584, 10)
('안드로이드', '2021-03-02', '한빛', 584, 30)
('스프링', '2021-04-02', '한빛', 500, 15)
('데이터베이스', '2021-05-02', '한빛', 484, 12)

In [45]:
#삭제
def delete_books():
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    sql="delete from books where title='Python'"
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [46]:
delete_books()

In [47]:
all_books()

전체 데이터 출력하기
<class 'list'>
5
('java', '2021-01-01', '길벗', 500, 10)
('빅데이터', '2021-03-02', '한빛', 584, 10)
('안드로이드', '2021-03-02', '한빛', 584, 30)
('스프링', '2021-04-02', '한빛', 500, 15)
('데이터베이스', '2021-05-02', '한빛', 484, 12)