In [3]:
import sqlite3
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.33.0

In [15]:
def create_table():
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    sql="""create table if not exists books(
    title text,
    published_date text,
    publisher text,
    pages integer,
    recommend integer
    )"""
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [16]:
create_table()

In [17]:
def insert_books():
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    sql="insert into books values('java', '2021-01-01', '길벗', 500, 10)"
    cursor.execute(sql)
    sql='insert into books values(?,?,?,?,?)'
    cursor.execute(sql,('Python','2020-01-02','한빛', 584, 20))
    items=[
        ('빅데이터', '2021-03-02','한빛',584,10),
        ('안드로이드', '2021-03-02','한빛',584,30),
        ('스프링', '2021-04-02','한빛',500,15),
        ('데이터베이스', '2021-05-02','한빛',484,12)
    ]
    cursor.executemany(sql, items)
    conn.commit()
    conn.close()

In [18]:
insert_books()

In [19]:
def all_books():
    conn=sqlite3.connect("my_books1.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    print('전체 데이터 출력하기')
    books=cursor.fetchall()
    print(type(books))
    print(len(books))
    for book in books:
        print(book)
    conn.close()

In [20]:
all_books()

전체 데이터 출력하기
<class 'list'>
6
('java', '2021-01-01', '길벗', 500, 10)
('Python', '2020-01-02', '한빛', 584, 20)
('빅데이터', '2021-03-02', '한빛', 584, 10)
('안드로이드', '2021-03-02', '한빛', 584, 30)
('스프링', '2021-04-02', '한빛', 500, 15)
('데이터베이스', '2021-05-02', '한빛', 484, 12)